
%section#works.home-section.text-center.bg-gray
  .heading-works.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
            =@user.inspect
