
%section#works.home-section.text-center.bg-gray
  .heading-works.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Resultados
            %p Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
  .container
    .row
      .col-sm-12.col-md-12.col-lg-12
        .row.gallery-item
