!!!
%html
  %head
    %title BusinessRecomendation    
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    'bootstrap', 'nivo-lightbox', 'font-awesome', 'nivo-lightbox-theme/default/default', 'animate', 'style', 'default', media: 'all'
    = javascript_include_tag 'jquery.min', 'bootstrap','jquery.easing.min', 'classie', 'gnmenu', 'jquery.scrollTo', 'nivo-lightbox.min', 'stellar', 'custom'

    = csrf_meta_tags
  %body{"data-spy" => "scroll"}
    .container
      %ul#gn-menu.gn-menu-main
        %li.gn-trigger
          %a.gn-icon.gn-icon-menu
            %span Menu
          %nav.gn-menu-wrapper
            .gn-scroller
              %ul.gn-menu
                %li
                  %a.gn-icon.gn-icon-pictures{:href => user_index_path} Users
                %li
                  %a.gn-icon.gn-icon-cog{:href => business_index_path} Business
                %li
                  %a.gn-icon.gn-icon-help{:href => stats_path} Stats
            / /gn-scroller
        %li
          %a{:href => "/"} Business Recomendations
        %li
          %ul.company-social
            %li.social-facebook
              %a{:href => "#", :target => "_blank"}
                %i.fa.fa-facebook
            %li.social-twitter
              %a{:href => "#", :target => "_blank"}
                %i.fa.fa-twitter
            %li.social-dribble
              %a{:href => "#", :target => "_blank"}
                %i.fa.fa-dribbble
            %li.social-google
              %a{:href => "#", :target => "_blank"}
                %i.fa.fa-google-plus
    = yield

:javascript

  new gnMenu( document.getElementById( 'gn-menu' ) );
  $(function() {
    $('.gn-menu li a').bind('click', function(event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500, 'easeInOutExpo');
      event.preventDefault();
    });
    $('a.scroll').bind('click', function(event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1500, 'easeInOutExpo');
      event.preventDefault();
    });
  });

  //nivo lightbox
  $('.gallery-item a').nivoLightbox({
    effect: 'fadeScale',                             // The effect to use when showing the lightbox
    theme: 'default',                           // The lightbox theme to use
    keyboardNav: true,                          // Enable/Disable keyboard navigation (left/right/escape)
    clickOverlayToClose: true,                  // If false clicking the "close" button will be the only way to close the lightbox
    onInit: function(){},                       // Callback when lightbox has loaded
    beforeShowLightbox: function(){},           // Callback before the lightbox is shown
    afterShowLightbox: function(lightbox){},    // Callback after the lightbox is shown
    beforeHideLightbox: function(){},           // Callback before the lightbox is hidden
    afterHideLightbox: function(){},            // Callback after the lightbox is hidden
    onPrev: function(element){},                // Callback when the lightbox gallery goes to previous item
    onNext: function(element){},                // Callback when the lightbox gallery goes to next item
    errorMessage: 'The requested content cannot be loaded. Please try again later.' // Error message when content can't be loaded
  });